<!doctype html>
<html>
    <head>
        <title>Dog!</title>
    </head>
    <body>

        <h1>This is from dog</h1>
        <!-- <img src="{{.}}" alt="dogpic"> -->
        <img src="/minnie.jpg" alt="dogpic">

    </body>
</html>