<!doctype html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>BAR</title>
	</head>
	<body>
		<h1>The FOO BAR</h1>

		{{if .First}}
			<h1>Welcome to the bar, {{.First}}. What can I get you to drink?</h1>
		    USER NAME {{.UserName}}<br>
		    FIRST {{.First}}<br>
		    LAST {{.Last}}<br>
		{{end}}

	</body>
</html>