<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Doggggyyy</title>
</head>
<body>
	<h2>World of Dogs</h2>
	{{if .}}
		<h3>Breed: {{.Breed}}</h3>
		<h3>Origin: {{.Origin}}</h3>
	{{end}}
</body>
</html>