{{template "header"}}

<form method="POST" action="/bar"> 
    <label for="text">Enter text</label>
    <input type="text" id="text" name="text">
    <br>
    <input type="submit">
</form>

{{template "footer"}}