<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Composition</title>
	</head>
	<body>

		<h1>{{.Name}}</h1>
		<h2>{{.Age}}</h2>
		<h3>{{.ReturnSeven}}</h3>
		<h3>{{.DoubleAge}}</h3>
		<h3>{{.DoubleAge | .ArgMethod}}</h3>

	</body>
</html>